.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
application/views/admin/home/index.twig
application/core/Core_Base_Controller.php
application/core/Core_Base_Controller.php~
application/core/Core_Base_Controller.php~
application/views/admin/layout/header.twig~
application/views/admin/layout/header.twig~
application/core/Core_Base_Controller.php~
/application/backup/db-1508226317.sql
/application/backup/db-1508226305.sql
/application/backup/db-1508224630.sql.gz
/application/backup/db-1508225002.sql.gz
/application/backup/db-1508220834.sql.gz
/application/backup/db-1508226140.sql
/application/backup/db-1508224658.sql.gz
/application/backup/db-1508226143.sql
/application/backup/db-1508224624.sql.gz
/application/backup/db-1508225188.sql.gz