{% include('admin/layout/header.twig')%}
<div class="row">
    <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="panel panel-default panel-white core-box">
            <div class="panel-tools">
                <a href="#" class="btn btn-xs btn-link panel-close">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="panel-body no-padding">
                <div class="partition-green padding-20 text-center core-icon">
                    <i class="fa fa-bar-chart-o fa-2x icon-big"></i>
                </div>
                <div class="padding-20 core-content">
                    <h3 class="title block no-margin">SEO</h3>
                    <span class="subtitle"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="panel panel-default panel-white core-box">
            <div class="panel-tools">
                <a href="#" class="btn btn-xs btn-link panel-close">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="panel-body no-padding">
                <div class="partition-blue padding-20 text-center core-icon">
                    <i class="fa fa-code fa-2x icon-big"></i>
                </div>
                <div class="padding-20 core-content">
                    <h3 class="title block no-margin">Programming</h3>
                    <span class="subtitle"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="panel panel-default panel-white core-box">
            <div class="panel-tools">
                <a href="#" class="btn btn-xs btn-link panel-close">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="panel-body no-padding">
                <div class="partition-red padding-20 text-center core-icon">
                    <i class="fa fa-desktop fa-2x icon-big"></i>
                </div>
                <div class="padding-20 core-content">
                    <h3 class="title block no-margin">Web design</h3>
                    <span class="subtitle"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-sm-6">
        <div class="panel panel-default panel-white core-box">
            <div class="panel-tools">
                <a href="#" class="btn btn-xs btn-link panel-close">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="panel-body no-padding">
                <div class="partition-azure padding-20 text-center core-icon">
                    <i class="fa fa-shopping-cart fa-2x icon-big"></i>
                </div>
                <div class="padding-20 core-content">
                    <h3 class="title block no-margin">Orders</h3>
                    <span class="subtitle"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </span>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6 col-lg-4 col-sm-6">
        <div class="panel panel-blue core-box">
            <div class="e-slider owl-carousel owl-theme">
                <div class="item">
                    <div class="panel-body">
                        <div class="core-box">
                            <div class="text-dark text-bold">
                                Working on
                            </div>
                            <div class="text-white space15">
                                Navigation Illustration (<i>corporate website redesign</i>)
                            </div>
                            <div class="progress progress-xs transparent-black no-radius space5">
                                <div aria-valuetransitiongoal="88" class="progress-bar progress-bar-success partition-white animate-progress-bar" ></div>
                            </div>
                            <div class="text-light">
                                Leave Time
                            </div>
                            <div class="text-white text-extra-large pull-left">
                                2h 38m
                            </div>
                            <div class="text-white text-large pull-right">
                                <a href="#" class="btn btn-xs btn-light-blue"><i class="fa fa-pause"></i> Pause</a>
                                <a href="#" class="btn btn-xs btn-light-blue"><i class="fa fa-check"></i> Complete</a>
                            </div>
                        </div>
                    </div>
                    <div class="padding-10">
                        <span class="bold-text">1527</span><span class="text-light"> people share this goal </span>
                        <a href="#" class="view-more pull-right text-dark text-bold">
                            View More <i class="fa fa-angle-right text-light"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="panel-body">
                        <div class="core-box">
                            <div class="text-dark text-bold">
                                Working on
                            </div>
                            <div class="text-white space15">
                                Prepare Commercial Offer For Mobile App
                            </div>
                            <div class="progress progress-xs transparent-black no-radius space5">
                                <div aria-valuetransitiongoal="59" class="progress-bar progress-bar-success partition-white animate-progress-bar" ></div>
                            </div>
                            <div class="text-light">
                                Leave Time
                            </div>
                            <div class="text-white text-extra-large pull-left">
                                8h 56m
                            </div>
                            <div class="text-white text-large pull-right">
                                <a href="#" class="btn btn-xs btn-light-blue"><i class="fa fa-pause"></i> Pause</a>
                                <a href="#" class="btn btn-xs btn-light-blue"><i class="fa fa-check"></i> Complete</a>
                            </div>
                        </div>
                    </div>
                    <div class="padding-10">
                        <span class="bold-text">1527</span><span class="text-light"> people share this goal </span>
                        <a href="#" class="view-more pull-right text-dark text-bold">
                            View More <i class="fa fa-angle-right text-light"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="panel-body">
                        <div class="core-box">
                            <div class="text-dark text-bold">
                                Working on
                            </div>
                            <div class="text-white space15">
                                Release iPhone Update
                            </div>
                            <div class="progress progress-xs transparent-black no-radius space5">
                                <div aria-valuetransitiongoal="78" class="progress-bar progress-bar-success partition-white animate-progress-bar" ></div>
                            </div>
                            <div class="text-light">
                                Leave Time
                            </div>
                            <div class="text-white text-extra-large pull-left">
                                48h 32m
                            </div>
                            <div class="text-white text-large pull-right">
                                <a href="#" class="btn btn-xs btn-light-blue"><i class="fa fa-pause"></i> Pause</a>
                                <a href="#" class="btn btn-xs btn-light-blue"><i class="fa fa-check"></i> Complete</a>
                            </div>
                        </div>
                    </div>
                    <div class="padding-10">
                        <span class="bold-text">1527</span><span class="text-light"> people share this goal </span>
                        <a href="#" class="view-more pull-right text-dark text-bold">
                            View More <i class="fa fa-angle-right text-light"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-sm-6">
        <div class="panel panel-green">
            <div class="e-slider owl-carousel owl-theme">
                <div class="item">
                    <div class="panel-body">
                        <div class="core-box">
                            <div class="text-dark text-bold space15">
                                SOCIAL
                            </div>
                            <div class="space5">
                                <i class="fa fa-github fa-4x pull-left"></i>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                                <br/>
                                Ut enim ad minim veniam...
                            </div>
                            <span class="text-light text-small block pull-right"> <i class="fa fa-clock-o"></i> 11 min ago </span>
                        </div>
                    </div>
                    <div class="padding-10">
                        <span class="bold-text">1527</span><span class="text-light"> people share this goal </span>
                        <a href="#" class="view-more pull-right text-dark text-bold">
                            View More <i class="fa fa-angle-right text-light"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="panel-body">
                        <div class="core-box">
                            <div class="text-dark text-bold space15">
                                SOCIAL
                            </div>
                            <div class="space5">
                                <i class="fa fa-facebook fa-4x pull-left"></i>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy ibh euismod tincidunt.
                            </div>
                            <span class="text-light text-small block pull-right"> <i class="fa fa-clock-o"></i> 27 min ago </span>
                        </div>
                    </div>
                    <div class="padding-10">
                        <span class="bold-text">1527</span><span class="text-light"> people share this goal </span>
                        <a href="#" class="view-more pull-right text-dark text-bold">
                            View More <i class="fa fa-angle-right text-light"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="panel-body">
                        <div class="core-box">
                            <div class="text-dark text-bold space15">
                                SOCIAL
                            </div>
                            <div class="space5">
                                <i class="fa fa-twitter fa-4x pull-left"></i>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy ibh euismod tincidunt.
                            </div>
                            <span class="text-light text-small block pull-right"> <i class="fa fa-clock-o"></i> 56 min ago </span>
                        </div>
                    </div>
                    <div class="padding-10">
                        <span class="bold-text">1527</span><span class="text-light"> people share this goal </span>
                        <a href="#" class="view-more pull-right text-dark text-bold">
                            View More <i class="fa fa-angle-right text-light"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4 col-sm-12">
        <div id="notes">
            <div class="panel panel-note">
                <div class="e-slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="panel-heading">
                            <h4 class="no-margin">This is a Note</h4>
                        </div>
                        <div class="panel-body space10">
                            <div class="note-short-content">
                                Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
                            </div>
                            <div class="note-content">
                                Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
                                Quis aute iure reprehenderit in <strong>voluptate velit</strong> esse cillum dolore eu fugiat nulla pariatur.
                                <br>
                                Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br>
                                Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci v'elit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
                                <br>
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut <strong>aliquid ex ea commodi consequatur?</strong>
                                <br>
                                Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
                                <br>
                                At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                                <br>
                                Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
                                <br>
                                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="avatar-note"><img src="assets/images/avatar-2-small.jpg" alt="">
                            </div>
                            <span class="author-note">Nicole</span>
                            <time class="timestamp" title="2014-02-18T00:00:00-05:00">
                                2014-02-18T00:00:00-05:00
                            </time>
                            <div class="note-options pull-right">
                                <a href="#readNote" class="read-note" data-subviews-options='{"startFrom": "right", "onShow": "readNote(subViewElement)", "onHide": "hideNote()"}'><i class="fa fa-chevron-circle-right"></i> Read</a><a href="#" class="delete-note"><i class="fa fa-times"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="panel-heading">
                            <h4 class="no-margin">This is the second Note</h4>
                        </div>
                        <div class="panel-body space10">
                            <div class="note-short-content">
                                Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nemo enim ipsam voluptatem, quia voluptas sit...
                            </div>
                            <div class="note-content">
                                Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br>
                                Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci v'elit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
                                <br>
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut <strong>aliquid ex ea commodi consequatur?</strong>
                                <br>
                                Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
                                <br>
                                Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae.
                                <br>
                                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="note-options pull-right">
                                <a href="#readNote" class="show-subviews read-note" data-subviews-options='{"startFrom": "right", "onShow": "readNote(subViewElement)", "onHide": "hideNote()"}'><i class="fa fa-chevron-circle-right"></i> Read</a><a href="#" class="delete-note"><i class="fa fa-times"></i> Delete</a>
                            </div>
                            <div class="avatar-note"><img src="assets/images/avatar-3-small.jpg" alt="">
                            </div>
                            <span class="author-note">Steven</span>
                            <time class="timestamp" title="2014-02-18T00:00:00-05:00">
                                2014-02-18T00:00:00-05:00
                            </time>
                        </div>
                    </div>
                    <div class="item">
                        <div class="panel-heading">
                            <h4 class="no-margin">This is yet another Note</h4>
                        </div>
                        <div class="panel-body space10">
                            <div class="note-short-content">
                                At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores...
                            </div>
                            <div class="note-content">
                                At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                                <br>
                                Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                <br>
                                Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci v'elit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.
                                <br>
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut <strong>aliquid ex ea commodi consequatur?</strong>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="note-options pull-right">
                                <a href="#readNote" class="show-subviews read-note" data-subviews-options='{"startFrom": "right", "onShow": "readNote(subViewElement)", "onHide": "hideNote()"}'><i class="fa fa-chevron-circle-right"></i> Read</a><a href="#" class="delete-note"><i class="fa fa-times"></i> Delete</a>
                            </div>
                            <div class="avatar-note"><img src="assets/images/avatar-4-small.jpg" alt="">
                            </div>
                            <span class="author-note">Ella</span>
                            <time class="timestamp" title="2014-02-18T00:00:00-05:00">
                                2014-02-18T00:00:00-05:00
                            </time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-lg-8 col-md-7">
        <div class="panel panel-white">
            <div class="panel-heading border-light">
                <h4 class="panel-title">Earnings</h4>
                <ul class="panel-heading-tabs border-light">
                    <li>
                        <div id="reportrange" class="pull-right">
                            <span>This Week </span><i class="fa fa-angle-down"></i>
                        </div>
                    </li>
                    <li>
                        <div class="rate">
                            <i class="fa fa-caret-up text-green"></i><span class="value">15</span><span class="percentage">%</span>
                        </div>
                    </li>
                    <li class="panel-tools">
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                <li>
                                    <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                                </li>
                                <li>
                                    <a class="panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i> <span>Refresh</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i> <span>Configurations</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="panel-expand" href="#">
                                        <i class="fa fa-expand"></i> <span>Fullscreen</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a class="btn btn-xs btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body no-padding partition-green">
                <div class="col-md-3 col-lg-2 no-padding">
                    <div class="partition-body padding-15">
                        <ul class="mini-stats">
                            <li class="col-md-12 col-sm-4 col-xs-4 no-padding">
                                <div class="sparkline-bar sparkline-1">
                                    <span></span>
                                </div>
                                <div class="values">
                                    <strong>18304</strong>
                                    Sales
                                </div>
                            </li>
                            <li class="col-md-12 col-sm-4 col-xs-4 no-padding">
                                <div class="sparkline-bar sparkline-2">
                                    <span></span>
                                </div>
                                <div class="values">
                                    <strong>&#36;3,833</strong>
                                    Earnings
                                </div>
                            </li>
                            <li class="col-md-12 col-sm-4 col-xs-4 no-padding">
                                <div class="sparkline-bar sparkline-3">
                                    <span></span>
                                </div>
                                <div class="values">
                                    <strong>&#36;848</strong>
                                    Referrals
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10 no-padding partition-white">
                    <div class="partition">
                        <div class="partition-body padding-15">
                            <div class="height-300">
                                <div id="chart1" class='with-3d-shadow with-transitions'>
                                    <svg></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="panel panel-red panel-calendar">
            <div class="panel-heading border-light">
                <h4 class="panel-title">Appointments</h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-white">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li>
                                <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                            </li>
                            <li>
                                <a class="panel-refresh" href="#">
                                    <i class="fa fa-refresh"></i> <span>Refresh</span>
                                </a>
                            </li>
                            <li>
                                <a class="panel-config" href="#panel-config" data-toggle="modal">
                                    <i class="fa fa-wrench"></i> <span>Configurations</span>
                                </a>
                            </li>
                            <li>
                                <a class="panel-expand" href="#">
                                    <i class="fa fa-expand"></i> <span>Fullscreen</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="height-300">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="actual-date">
                                <span class="actual-day"></span>
                                <span class="actual-month"></span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="clock-wrapper">
                                        <div class="clock">
                                            <div class="circle">
                                                <div class="face">
                                                    <div id="hour"></div>
                                                    <div id="minute"></div>
                                                    <div id="second"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="weather text-light">
                                        <i class="wi-day-sunny"></i>
                                        25°
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="appointments border-top border-bottom border-light space15">
                                    <a class="btn btn-sm owl-prev text-light">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                    <div class="e-slider owl-carousel owl-theme" data-plugin-options='{"transitionStyle": "goDown", "pagination": false}'>
                                        <div class="item">
                                            <div class="inline-block padding-10 border-right border-light">
                                                <span class="bold-text text-small"><i class="fa fa-clock-o"></i> 17:00</span>
                                                <span class="text-light text-extra-small">1 hour</span>
                                            </div>
                                            <div class="inline-block padding-10">
                                                <span class="bold-text text-small">NETWORKING</span>
                                                <span class="text-light text-small">Out to design conference</span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="inline-block padding-10 border-right border-light">
                                                <span class="bold-text text-small"><i class="fa fa-clock-o"></i> 18:30</span>
                                                <span class="text-light text-extra-small">30 mins</span>
                                            </div>
                                            <div class="inline-block padding-10">
                                                <span class="bold-text text-small">BOOTSTRAP SEMINAR</span>
                                                <span class="text-light text-small">Problem Solving</span>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="inline-block padding-10 border-right border-light">
                                                <span class="bold-text text-small"><i class="fa fa-clock-o"></i> 20:00</span>
                                                <span class="text-light text-extra-small">2 hour</span>
                                            </div>
                                            <div class="inline-block padding-10">
                                                <span class="bold-text text-small">Lunch with Nicole</span>
                                                <span class="text-light text-small">Next on Tuesday</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-sm owl-next text-light"><i class="fa fa-chevron-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <a href="#newEvent" class="btn btn-sm btn-transparent-white new-event"><i class="fa fa-plus"></i> New Event </a>
                                <a href="#showCalendar" class="btn btn-sm btn-transparent-white show-calendar"><i class="fa fa-calendar-o"></i> Calendar </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<link rel="stylesheet" href="assets/plugins/weather-icons/css/weather-icons.min.css">
<link rel="stylesheet" href="assets/plugins/nvd3/nv.d3.min.css">


<script src="assets/plugins/nvd3/lib/d3.v3.js"></script>
		<script src="assets/plugins/nvd3/nv.d3.min.js"></script>
		<script src="assets/plugins/nvd3/src/models/historicalBar.js"></script>
		<script src="assets/plugins/nvd3/src/models/historicalBarChart.js"></script>
		<script src="assets/plugins/nvd3/src/models/stackedArea.js"></script>
		<script src="assets/plugins/nvd3/src/models/stackedAreaChart.js"></script>
		<script src="assets/plugins/jquery.sparkline/jquery.sparkline.js"></script>
		<script src="assets/plugins/easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
		<script src="assets/js/index.js"></script>
                
                
                
                
{#                <script src="assets/js/main.js"></script>#}



{% include('admin/layout/footer.twig')%}


<script>

    jQuery(document).load(function () {
{#        Main.init();#}
        SVExamples.init();
        Index.init();
    });
</script>