

			<!-- start: TOPBAR -->
			<header class="topbar navbar navbar-inverse navbar-fixed-top inner">
				<!-- start: TOPBAR CONTAINER -->
				<div class="container">
					<div class="navbar-header">
						<a class="sb-toggle-left hidden-md hidden-lg" href="#main-navbar">
							<i class="fa fa-bars"></i>
						</a>
						<!-- start: LOGO -->
						<a class="navbar-brand" href="javascript:;">
							<img src="assets/images/logo.png" alt="Rapido"/>
						</a>
						<!-- end: LOGO -->
					</div>
					<div class="topbar-tools">
						<!-- start: TOP NAVIGATION MENU -->
						<ul class="nav navbar-right">


<!-- start: CURRENCY -->
							<li class="dropdown current-user">
								<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="javascript:;" title="Change System Currency">

								  <i class="fa fa-usd"></i>
								  <!-- <img src="assets/images/avatar-1-small.jpg" class="img-circle" alt="">-->
								  <span class="username hidden-xs">USD</span> <i class="fa fa-caret-down hidden-xs "></i>
								</a>
								<ul class="dropdown-menu dropdown-dark">

									{% for CURRENCY  in  MLM_CURRENCY_LIST  %}
										<li>
											<a href="">
												<i class="fa {{CURRENCY.icon}}"></i> - {{CURRENCY.currency_name}}
											</a>
										</li>
									{% endfor %}
									
								</ul>
							</li>
<!-- end: CURRENCY  -->
<!-- start: LANGUAGE -->
							<li class="dropdown current-user">
								<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="javascript:;"  title="Change System Language">
								  <img src="assets/images/flags-iso/shiny/24/IN.png" class="img-circle" alt="">
								  <span class="username hidden-xs">English</span> <i class="fa fa-caret-down hidden-xs "></i>
								</a>
								<ul class="dropdown-menu dropdown-dark">
									{% for LANGUAGE  in  MLM_LANG_LIST  %}
										<li>
											<a href="">
												{{LANGUAGE.lang_name}} 
												<!-- <img src="assets/images/flags-iso/flat/16/IN.png" class="pull-right"> -->
											</a>
										</li>
									{% endfor %}
								</ul>
							</li>
<!-- end: LANGUAGE  -->

							<!-- start: USER DROPDOWN -->
							<li class="dropdown current-user ">
								<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="javascript:;">
									<img src="assets/images/avatar-1-small.jpg" class="img-circle" alt=""> <span class="username hidden-xs">Peter Clark</span> <i class="fa fa-caret-down "></i>
								</a>
								<ul class="dropdown-menu dropdown-dark">
									<li>
										<a href="pages_user_profile.html">
											Profile
										</a>
									</li>
									<li>
										<a href="login_lock_screen.html">
											Lock Screen
										</a>
									</li>
									<li>
										<a href="login_login.html">
											Log Out
										</a>
									</li>
								</ul>
							</li>
							<!-- end: USER DROPDOWN -->
							<li class="right-menu-toggle  hidden-xs">
								<a href="javascript:;" class="sb-toggle-right">
									<i class="fa fa-globe toggle-icon"></i> <i class="fa fa-caret-right"></i> 
								</a>
							</li>
						</ul>
						<!-- end: TOP NAVIGATION MENU -->
					</div>
				</div>
				<!-- end: TOPBAR CONTAINER -->
			</header>
			<!-- end: TOPBAR -->
			