{% include('admin/layout/header.twig')%}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h4 class="panel-title">Change Password <span class="text-bold"></span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li><a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a></li>
                            <li><a class="panel-refresh" href="#"><i class="fa fa-refresh"></i> <span>Refresh</span></a></li>
                            <li><a class="panel-config" href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i> <span>Configurations</span></a></li>
                            <li><a class="panel-expand" href="#"><i class="fa fa-expand"></i> <span>Fullscreen</span></a></li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                {#                <hr>#}
                <form role="form" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Select User Name
                        </label>
                        <div class="col-sm-4">
                            <span class="input-icon input-icon-right">
                                <input name="user_name" type="type" placeholder="Select User Name" id="form-field-17" class="form-control">
                                <i class="fa fa-user"></i> </span>
                                
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            New Password
                        </label>
                        <div class="col-sm-4">
                            <span class="input-icon input-icon-right">
                                <input name="new_password" type="password" placeholder="New Password" id="form-field-17" class="form-control">
                                <i class="fa fa-lock"></i> </span>
                                <div class="hide-show">
                                <span2 class="buttonshow">
                                    Show </span2>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Re-Enter  Password
                        </label>
                        <div class="col-sm-4">
                            <span class="input-icon input-icon-right">
                                <input name="re_enter_password" type="password" placeholder="Re-Enter  Password" id="form-field-17" class="form-control">

                                <i class="fa fa-lock"></i> </span>
                            <div class="hide-show">
                                <span class="buttonshow">
                                    Show </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">

                        </label>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" disabled="disabled">
                                Change Password
                            </button>
                        </div>
                    </div>


                    {#                Your Page Content here#}
            </div>
        </div>                                    
    </div>
</div>


{% include('admin/layout/footer.twig')%}
<script>
    
    $(function(){
  $('.hide-show').show();
  $('.hide-show span').addClass('show')
  
  $('.hide-show span').click(function(){
    if( $(this).hasClass('show') ) {
      $(this).text('Hide');
      $('input[name="re_enter_password"]').attr('type','text');
      $(this).removeClass('show');
    } else {
       $(this).text('Show');
       $('input[name="re_enter_password"]').attr('type','password');
       $(this).addClass('show');
    }
  });
	
        $('form button[type="submit"]').on('click', function(){
                $('.hide-show span').text('Show').addClass('show');
                $('.hide-show').parent().find('input[name="re_enter_password"]').attr('type','password');
        }); 
});
 $(function(){
  $('.hide-show').show();
  $('.hide-show span2').addClass('show')
  
  $('.hide-show span2').click(function(){
    if( $(this).hasClass('show') ) {
      $(this).text('Hide');
      $('input[name="new_password"]').attr('type','text');
      $(this).removeClass('show');
    } else {
       $(this).text('Show');
       $('input[name="new_password"]').attr('type','password');
       $(this).addClass('show');
    }
  });
	
        $('form button[type="submit"]').on('click', function(){
                $('.hide-show span2').text('Show').addClass('show');
                $('.hide-show').parent().find('input[name="new_password"]').attr('type','password');
        }); 
});
$(function(){
  $('.hide-show').show();
  $('.hide-show span1').addClass('show')
  
  $('.hide-show span1').click(function(){
    if( $(this).hasClass('show') ) {
      $(this).text('Hide');
      $('input[name="current_password"]').attr('type','text');
      $(this).removeClass('show');
    } else {
       $(this).text('Show');
       $('input[name="current_password"]').attr('type','password');
       $(this).addClass('show');
    }
  });
	
        $('form button[type="submit"]').on('click', function(){
                $('.hide-show span1').text('Show').addClass('show');
                $('.hide-show').parent().find('input[name="current_password"]').attr('type','password');
        }); 
});
    
</script>
<style>
    .buttonshow{
        border-radius: 2px;
        width: 10.5%;
        background-color: #f5b041 ;
        color:white;
    }
    </style>
    
