{% include('admin/layout/header.twig')%}
{%include('admin/layout/top_bar.twig')%}
{%include('admin/layout/page_right.twig')%}

{%include('admin/layout/main_container.twig')%}
{%include('admin/layout/menu.twig')%}
<!-- start: PAGE CONTENT -->
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-white">
									<div class="panel-body">
										Your content here
									</div>
								</div>
							</div>
						</div>
						<!-- end: PAGE CONTENT-->




{% include('admin/layout/footer.twig')%}